body {
    background-color: black;
    color: white;
    /* font-family: 'Permanent Marker', 'Love Ya Like A Sister', cursive; */
    font-family: 'Courier New', Courier, monospace;
}

.banner-h1 {
    border: 5px solid;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    background-color: black;
}

#wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.fa-user-secret {
    font-size: 12rem;
    margin: 1rem;
    animation: circleScale 2s ease-in-out infinite;
}
@keyframes circleScale {
    0% {transform: scale(.8)  }
    50% { transform: scale(1) }
  100% { transform: scale(.8) }
}

#dynamic-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

p {
    margin: 1rem;
}
label {
    display: block;
    margin: 0 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
}


@media screen and (min-width: 850px) {
    .banner-h1 {
        border: 5px dashed;
        font-size: 45px;
    }

    #wrapper {
        display: flex;
        flex-flow: row nowrap;
        /* justify-content: space-around; */
    }

    #form-wrapper {
        width: calc(50%);
    }

    .fa-user-secret {
        font-size: 12rem;
    }

    main {
        width: calc(50%);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 1rem;
    }
}