body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.fa-user-secret {
    font-size: 12rem;
    margin: 1rem;
    animation: circleScale 2s ease-in-out infinite;
}

@keyframes circleScale {
    0% {
        transform: scale(.8)
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(.8)
    }
}

#wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.banner-h1 {
    border: 5px solid;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    background-color: black;
}

#dynamic-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

h3 {
    text-align: center;
}
select,button {
    background-color: white;
    margin: 0 0 1rem;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}

.form-choice {
    width: 90%;
    max-width: 600px;
}

p {
    margin: 1rem;
}

label {
    display: block;
    margin: 0 1rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
}


@media screen and (min-width: 850px) {
    .banner-h1 {
        border: 5px dashed;
        font-size: 45px;
    }

    #wrapper {
        display: flex;
        flex-flow: row nowrap;
    }

    #form-wrapper {
        width: calc(50%);
    }

    .fa-user-secret {
        font-size: 12rem;
    }

    main {
        width: calc(50%);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 1rem;

    }
}